<!DOCTYPE html>
<html>
  <head>
    <title>dashboard</title>
    <link rel='stylesheet' href='/css/dashboard.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="text-center">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Player 1 choice</th>
          <th>Player 2 choice</th>
          <th>Winner</th>
        </tr>
        <% data.forEach((x) => { %>
        <tr>
          <td><%= x.id %></td>
          <td><%= x.name %></td>
          <td><%= x.player1choice %></td>
          <td><%= x.player2choice %></td>
          <td><%= x.winner %></td>
          <td>
            <a href="/users/<%= x.id %>/edit">Edit</a>
            <a href="/users/<%= x.id %>/delete">Delete</a>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>